h1{
    color: darkblue;
}
div{
    border:2px solid salmon;
    border-radius: 50px 50px;
    width: 500px;
    
    margin: 80px 0px 20px 0px;
    text-align: center;
    font-size: 20px;
}
#buy{
    padding: 20px;
    border-radius: 50% 50%;
    background-color: indigo; 
    

}
.input{
    padding: 10px;
    border-radius: 20px 20px ;
   
}